<form action="" method="get"></form><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1">
  <table width="732" border="1">
    <tr>
      <td width="57">Serial Number</td>
      <td width="127">Date</td>
      <td width="127">Achievements</td>
      <td width="127">Certificate</td>
      <td width="127">Experience</td>
      <td width="127">Action</td>
    </tr>
      {% for i in data7 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.achievements }}</td>
      <td><img src="{{ i.certificates }}" height="100" width="100"></td>
      <td>{{ i.experience }}</td>
      <td><a href="/myapp/achievementsedit/{{ i.id }}">Edit</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
