<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CANDIDATE </h1>
<a href="/myapp/registrationformview/">View Profile</a><br>
<a href="/myapp/achievementsadd/">Achievements Add</a><br>
<a href="/myapp/achievementview/">Achievements View</a><br>
<a href="/myapp/castinginfoview/">Casting Call</a><br>
<a href="/myapp/requeststatus/">Casting Request</a><br>
<a href="/myapp/approvalformuse/">Approval Form</a><br>
<a href="/myapp/userviewhistory/">Casting History</a><br>
<a href="/myapp/complaintviewreply/">View Complaint </a><br>
<a href="/myapp/reviewsend/">Review</a><br>
<a href="/myapp/reviewviewuser">View Review</a><br>
<a href="/myapp/changepsus/">Change password</a><br>
</body>
</html>